body {
  margin: 50px auto;
  padding: 20px;
  font-family: monospace;
  max-width: 830px;
}

img {
  max-width: 100%;
}

p {
  max-width: 400px;
  line-height: 1.5;
}

.menu {
  & a {
    color: black;
    text-decoration: none;
  }

  & a:hover {
    text-decoration: underline;
  }
  
  & li {
    line-height: 2;
  }
}

#portrait {
  width: 80%;
  max-width: 200px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

#myname {
  font-size: 3em;
  font-weight: bold;
  line-height: 0.8;
  margin: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: right;

  & li {
    list-style: none;
  }
}

.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 20px;

  & a {
    display: block;
    aspect-ratio: 1 / 1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover
    }

    & p {
      display: none;
    }
  }
}

.grid-project {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 50px;
}

